:root {
  --border-color: #edeef0;
  --color: #edeef0;
  --border-color-hover: #edeef0;
  --bg-color-hover: #7f7f81;
  --bg-color-active: #edeef0;
  --color-active: #111113;
  --border-color-disabled: #7f7f81;
  --color-disabled: #7f7f81;
}

body {
  background-color: #111113;
  color: #edeef0;
}

.pagination-container {
  display: inline-flex;
  gap: 10px;
}

.pagination-container > button {
  background: transparent;
  color: var(--color);
  border-color: var(--border-color);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 5px 10px;
  font-size: 20px;
  transition: all 0.3s ease;
  &:hover {
    background: var(--bg-color-hover);
    color: var(--color);
    border-color: var(--border-color-hover);
    cursor: pointer;
  }
  &:active {
    background: var(--bg-color-active);
    color: var(--color-active);
  }
  &:disabled {
    background: transparent;
    color: var(--color-disabled);
    border-color: var(--border-color-disabled);
    cursor: default;
  }
}

.pagination-container > button.active {
  background: var(--bg-color-active);
  color: var(--color-active);
}
