:root {
  --border-color: #edeef0;
  --color: #edeef0;
  --color-30: #edeef030;
  --color-60: #edeef060;
  --border-color-hover: #edeef0;
  --bg-color-hover: #7f7f81;
  --bg-color-active: #edeef0;
  --color-active: #111113;
  --border-color-disabled: #7f7f81;
  --color-disabled: #7f7f81;
  --tab-bg-background-active: #edeef020;
  --tab-bg-background-hover: #edeef010;
  --tabs-border-bottom: #edeef060;

  --color-neutral-contrast: #3a3a41;
  --color-neutral-strong: #b3b3be;
  --color-neutral-strong-40: #b3b3be40;
  --color-neutral-invert: #eeeef0;

  --color-primary-emphasis: #9eb1ff;
  --color-primary-contrast: #4c5dab;
  --color-primary-soft: #252639;

  --sidebar-collapsed-width: 3rem;
  --sidebar-width: 16rem;
}

body {
  background-color: #111113;
  color: #edeef0;
}

a {
  color: royalblue;
}
