.dialog {
  display: flex;
  flex-direction: column;
  background: #222226;
  border-radius: 16px;
  color: #edeef0;
  max-height: calc(100vh - 8rem);
  overflow-y: auto;
}

.dialog-header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-block: 16px;
  padding-inline: 24px;
}

.dialog-title {
  font-size: 20px;
  font-weight: 600;
}

.dialog-content {
  display: inline-block;
  max-width: 500px;
  overflow-y: auto;
  padding-block: 8px;
  padding-inline: 24px;
}

.dialog-footer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-block: 16px;
  padding-inline: 24px;
}
