.pagination-container {
  display: inline-flex;
  gap: 10px;
}

.pagination-container > button {
  background-color: transparent;
  color: var(--color);
  border-color: var(--border-color);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 5px 10px;
  font-size: 20px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--bg-color-hover);
    color: var(--color);
    border-color: var(--border-color-hover);
    cursor: pointer;
  }

  &:active {
    background-color: var(--bg-color-active);
    color: var(--color-active);
  }

  &:disabled {
    background-color: transparent;
    color: var(--color-disabled);
    border-color: var(--border-color-disabled);
    cursor: default;
  }
}

.pagination-container > button.active {
  background-color: var(--bg-color-active);
  color: var(--color-active);
}
