.sidebar-wrapper {
  display: flex;
}

.sidebar-container {
  color: var(--color);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100svh;
  justify-content: space-between;
  overflow: hidden;
  transition:
    background-color 300ms ease,
    width 300ms ease;
  white-space: nowrap;
  width: var(--sidebar-collapsed-width);

  &.open {
    background-color: var(--color-primary-soft);
    width: var(--sidebar-width);
  }
}

.sidebar-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.sidebar-footer {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
